<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="online.Ajio"/>
      <class name="online.Amazon"/>
      <class name="online.Flipkart"/>
       <class name="online.TataClick"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
